body {
  padding: 0;
  margin: 0;
}

.window {
  height: 500px;
  width: 500px;
  display: block;
  position: absolute;
  background-color: bisque;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  height: 240px;
  width: 240px;
  background-color: lightblue;
}

.b {
  right: 0px;
}

.c {
  bottom: 0px;
}

.d {
  bottom: 0px;
  right: 0px;
}
