body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.window {
  display: flex;
  gap: 20px;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
}

.box {
  height: 240px;
  width: 240px;
  background-color: lightblue;
}
